<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <link href= "/site-web/public/lecture/lecture.css" rel="stylesheet" type="text/css" />
    <title>h</title>
  </head>
  

<body>
  <script src="/site-web/public/lecture/lecture.js">
  </script>

</body>
