<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Keycloak Example</title>
	</head>
	<body>
		<h1>Bienvenue sur l'application de gestion des notes</h1>
		<%
		try {
			if (user) {
		%>
				<p>Bonjour <%= user.name %></p>
			<% } else { %>
				<p>Please Login</p>
			<% } %>
		<%
		} catch (e) {
			console.error('Error: ', e);
			%>
				<p>Please Login</p>
		<% } %> 

	<script src="/site-web/public/chargement_options_user.js"></script>
	<button onclick="location.href='logout'"> Se déconnecter </button>
	</body>
</html>