<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <link href= "/site-web/public/lecture/lecture.css" rel="stylesheet" type="text/css" />
    <title>h</title>
  </head>
  

<body>
  <table>
    <caption>
    </caption>
    <thead>
      <tr>
        <th scope="col">Nom étudiant</th>
        <th scope="col">Note</th>
        <th scope="col">Statut note</th>
      </tr>
    </thead>
    <tbody id="table_body"></tbody>
  </table>

  <button onclick="location.href='/home'">Revenir à l'accueil</button>
  
</body>
<script src="/site-web/public/lecture/lecture.js"></script>

  
